* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---------------------------------------------- */
body {
  font-size: 1rem;
  font-family: "Poppins";
  color: #121212;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  width: min(100% - 7.5rem, 80rem);
  margin-inline: auto;
  padding: 3.75rem 0;
}

@media (max-width: 1151.98px) {
  [class*=__container] {
    width: calc(100% - 5rem);
    padding: 2rem 0;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    width: calc(100% - 3.5rem);
    padding: 1.25rem 0;
  }
}
.title {
  font-family: "DM Sans";
  font-size: 2.75rem;
  font-weight: 600;
  line-height: normal;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.title span {
  color: #FF6428;
}
.title.-active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

@media (max-width: 1300px) {
  .title {
    font-size: 2.3rem;
  }
}
@media (max-width: 1000px) {
  .title {
    font-size: 1.9rem;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
}
.header__container {
  padding: 3.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.6875rem;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
  width: 60%;
}

.header__block {
  width: 40%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
  margin-right: 3rem;
}

.header__logo-title {
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.header__link {
  padding: 0 1.75rem;
  color: rgba(18, 18, 18, 0.4);
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 1670px) {
  .header__content {
    width: 50%;
  }
  .header__block {
    width: 50%;
  }
}
@media (max-width: 1500px) {
  .header__link {
    padding: 0;
  }
  .header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 1300px) {
  .header__link {
    padding: 0;
  }
  .header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 1000px) {
  .header__block {
    display: none;
  }
  .header__content {
    width: 100%;
  }
  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
  .header__container {
    padding: 1.5rem 0;
    gap: 1rem;
  }
}
@media (max-width: 500px) {
  .header__container {
    padding: 1rem 0;
  }
  .header__logo {
    gap: 0.75rem;
    margin-right: 1rem;
  }
  .header__nav {
    gap: 1rem;
  }
  .header__link {
    font-size: 0.9rem;
  }
  .header__logo-title {
    font-size: 1.2rem;
  }
}
.footer {
  background: #EEEEEE;
}

.footer__container {
  padding: 5rem 0 2.6875rem 0;
}

.footer__grid {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  margin-bottom: 2rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1.5rem;
  margin-bottom: 1.75rem;
}

.footer__logo-title {
  color: #121212;
  font-family: "DM Sans";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: normal;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}
.footer__item img {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__text {
  color: #666666;
}

.item-link {
  color: #121212;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.footer__copyright {
  color: rgba(18, 18, 18, 0.6);
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
}

@media (max-width: 1300px) {
  .footer__container {
    padding: 3rem 0 2rem 0;
  }
}
@media (max-width: 1000px) {
  .footer__grid {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    margin-bottom: 1rem;
  }
  .footer__logo {
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer__logo-title {
    font-size: 1.5rem;
  }
  .footer__item {
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  .item-link {
    font-size: 1rem;
  }
}
@media (max-width: 750px) {
  .item-link {
    font-size: 0.9rem;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
  }
}
@media (max-width: 500px) {
  .footer__grid {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
  }
  .item-link {
    font-size: 0.9rem;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
}
.block__img {
  position: absolute;
  width: 47rem;
  height: 38.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 0;
  border-radius: 0px 0px 151px 360px;
  background: lightgray 0px -398.995px/100% 172.014% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#FF8C60), to(#FF5B1C));
  background: lightgray 0px -398.995px/100% 172.014% no-repeat, linear-gradient(180deg, #FF8C60 0%, #FF5B1C 100%);
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 5rem;
  height: 5rem;
  -webkit-animation: butt-anim 1.2s ease-in-out 1s infinite alternate forwards;
          animation: butt-anim 1.2s ease-in-out 1s infinite alternate forwards;
  -webkit-transition: 1s;
  transition: 1s;
}

.block__button:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  background-color: #ffd3c2;
}

@-webkit-keyframes butt-anim {
  0% {
    bottom: -40px;
  }
  100% {
    bottom: -55px;
  }
}

@keyframes butt-anim {
  0% {
    bottom: -40px;
  }
  100% {
    bottom: -55px;
  }
}
.main-guitars__container {
  padding: 6.25rem 0px;
}

.main-guitars__title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1rem;
}

.main-guitars__text {
  color: #666666;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}
.main-guitars__text.-active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.main-guitars__links {
  margin-top: 2.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1.25rem;
}

.main-guitars__button {
  padding: 1.125rem 3rem;
  border-radius: 2.5rem;
  background: #FF6428;
  margin-right: 1.25rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-guitars__button span {
  color: #FFF;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}
.main-guitars__button:hover {
  background-color: #ff7b47;
}

@media (max-width: 1500px) {
  .block__img {
    width: 42rem;
    height: 33.5rem;
  }
}
@media (max-width: 1300px) {
  .main-guitars__title {
    font-size: 2.875rem;
  }
  .main-guitars__text {
    font-size: 1rem;
  }
  .block__img {
    width: 29rem;
    height: 27.5rem;
  }
}
@media (max-width: 1000px) {
  .main-guitars__title {
    font-size: 2.875rem;
  }
  .main-guitars__text {
    font-size: 1rem;
  }
  .block__img {
    display: none;
  }
  .main-guitars__container {
    padding: 3.25rem 0px;
  }
  .main-guitars {
    text-align: center;
  }
  .main-guitars__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-guitars__container {
    padding: 4rem 0px;
  }
}
@media (max-width: 500px) {
  .main-guitars__container {
    padding: 3rem 0px;
  }
  .main-guitars__title {
    font-size: 1.8rem;
  }
  .main-guitars__text {
    font-size: 0.9rem;
  }
  .main-guitars__button {
    padding: 1rem 1.3rem;
  }
  .main-guitars__button span {
    font-size: 0.9rem;
  }
}
.store__title {
  text-align: center;
  margin-bottom: 5.75rem;
}

.store__block {
  margin-bottom: 6.375rem;
}

.store__block-sub-title {
  color: #121212;
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.store__viev {
  color: #868686;
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 500;
}

.store__block-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.375rem;
}

.store__block-card {
  cursor: pointer;
  width: 100%;
}

.store__card-image {
  margin-bottom: 2.5rem;
  height: 14.875rem;
  position: relative;
}
.store__card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  inset: 0;
}

.padding {
  padding: 3rem 0;
}

.store__guitar-name {
  color: #121212;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.4375rem;
}

.store__guitar-price {
  color: #666;
  font-family: "Poppins";
  font-size: 0.875rem;
  font-weight: 400;
}

@media (max-width: 1300px) {
  .store__block-cards {
    gap: 2rem;
  }
}
@media (max-width: 1000px) {
  .store__block-sub-title {
    font-size: 1rem;
  }
  .store__viev {
    font-size: 1rem;
  }
  .store__guitar-name {
    font-size: 0.9rem;
  }
  .store__guitar-price {
    font-size: 0.775rem;
  }
  .store__card-image {
    margin-bottom: 1.3rem;
    height: 11rem;
  }
  .store__block {
    margin-bottom: 3rem;
  }
  .store__title {
    margin-bottom: 3rem;
  }
}
@media (max-width: 500px) {
  .store__viev {
    font-size: 0.9rem;
  }
  .store__guitar-name {
    font-size: 0.8rem;
  }
  .store__guitar-price {
    font-size: 0.675rem;
  }
  .store__card-image {
    margin-bottom: 0rem;
  }
  .store__block-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .store__block {
    margin-bottom: 1rem;
  }
}
.categories__title {
  margin-bottom: 5rem;
  text-align: center;
}

.categories__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.3125rem;
}

.categories__card {
  display: grid;
  width: 220px;
  height: 280px;
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 85% 15%;
  cursor: pointer;
}
.categories__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.categories__card div {
  position: absolute;
  z-index: 2;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0.16)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.8) 100%);
}
.categories__card:hover {
  bottom: 0.625rem;
  -webkit-box-shadow: 0 2px 10px black;
          box-shadow: 0 2px 10px black;
}

.categories__text {
  position: relative;
  z-index: 3;
  grid-row: 2/3;
  grid-column: 2/3;
  color: #FFF;
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 600;
}

@media (max-width: 1300px) {
  .categories__wrap {
    gap: 2rem;
  }
  .categories__card {
    width: 200px;
    height: 260px;
  }
}
@media (max-width: 1000px) {
  .categories__wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }
  .categories__title {
    margin-bottom: 3rem;
  }
}
@media (max-width: 500px) {
  .categories__wrap {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .categories__text {
    font-size: 1rem;
  }
}
.best-brands__title {
  margin-bottom: 6rem;
  text-align: center;
}

.best-brands__wrap {
  margin-bottom: 3rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5rem;
  -webkit-column-gap: 10.125rem;
     -moz-column-gap: 10.125rem;
          column-gap: 10.125rem;
}

.best-brands__card {
  position: relative;
  height: 60px;
  width: 120px;
}
.best-brands__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1300px) {
  .best-brands__wrap {
    margin-bottom: 2rem;
    row-gap: 2rem;
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }
}
@media (max-width: 1000px) {
  .best-brands__wrap {
    margin-bottom: 1.5rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-bottom: 2rem;
    row-gap: 1.5rem;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
  .best-brands__title {
    margin-bottom: 3rem;
  }
}
@media (max-width: 500px) {
  .best-brands__wrap {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
.why-try {
  background-color: #121212;
  color: #fff;
  font-family: "Poppins";
}

.why-try__title {
  margin-bottom: 4.6875rem;
  text-align: center;
}

.why-try__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  gap: 1rem;
}

.why-try__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-try__img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1.25rem;
  background: #262626;
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why-try__card-title {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.why-try__card-sub-title {
  color: #666;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
}

@media (max-width: 1300px) {
  .why-try__container {
    padding: 3rem 0;
  }
  .why-try__title {
    margin-bottom: 3rem;
  }
}
@media (max-width: 1000px) {
  .why-try__title {
    margin-bottom: 2rem;
  }
  .why-try__img {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 2rem;
  }
  .why-try__card-title {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .why-try__card-title {
    font-size: 0.9rem;
    text-align: center;
  }
  .why-try__card-sub-title {
    font-size: 0.775rem;
  }
  .why-try__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.customers__container {
  max-width: 65rem;
}

.customers__title {
  margin-bottom: 6.8125rem;
  text-align: center;
}

.customers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 6.25rem;
}

.customers__img {
  position: relative;
  left: 3.125rem;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
}
.customers__img img {
  width: 21.3125rem;
  height: 21.3125rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.customers__triangle {
  position: absolute;
  top: 3.125rem;
  z-index: 1;
  width: 17.79525rem;
  height: 16.1183125rem;
  -webkit-transform: rotate(-7.724deg);
          transform: rotate(-7.724deg);
  border-radius: 40px 0px 400px 400px;
  background: #FF6428;
}

.customers__text {
  color: #666666;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}

.customers__data {
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customers__name {
  color: #000;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 160%;
}

.customers__description {
  color: #868686;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1.44px;
}

.data__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.data__switch span {
  border-radius: 20px;
}

.active {
  background-color: #FF6428;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 10px;
  height: 20px;
  margin: 0 10px;
}

.passive {
  background: #C4C4C4;
  width: 10px;
  height: 16px;
}

@media (max-width: 1300px) {
  .customers__text {
    font-size: 1.2rem;
  }
  .customers__name {
    font-size: 1.3rem;
  }
  .customers__description {
    font-size: 1rem;
  }
  .customers__title {
    margin-bottom: 3rem;
    text-align: center;
  }
  .customers__content {
    margin-bottom: 3rem;
  }
}
@media (max-width: 1000px) {
  .customers__text {
    font-size: 1rem;
  }
  .customers__name {
    font-size: 1.2rem;
  }
  .customers__description {
    font-size: 0.9rem;
  }
  .customers__title {
    margin-bottom: 2.5rem;
    text-align: center;
  }
  .customers__content {
    margin-bottom: 2rem;
  }
  .customers__img img {
    width: 15rem;
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .customers__triangle {
    width: 11rem;
    height: 10rem;
  }
  .customers__data {
    margin-top: 2rem;
  }
}
@media (max-width: 750px) {
  .customers__img {
    left: 3rem;
  }
  .customers__img img {
    width: 10rem;
    height: 10rem;
  }
  .customers__triangle {
    display: none;
  }
  .customers__data {
    margin-top: 1rem;
  }
}
@media (max-width: 630px) {
  .customers__img {
    left: 0rem;
  }
  .customers__img img {
    width: 8rem;
    height: 8rem;
  }
}
@media (max-width: 500px) {
  .customers__text {
    font-size: 0.9rem;
  }
  .customers__name {
    font-size: 1.1rem;
  }
  .customers__description {
    font-size: 0.8rem;
  }
  .customers__title {
    margin-bottom: 1.5rem;
  }
  .customers__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.favorite__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 9rem;
  margin-bottom: 8rem;
}

.block-position {
  position: relative;
}
.block-position img {
  width: 213px;
  height: 461px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.08);
  position: absolute;
}

.favorite__title {
  margin-bottom: 3.75rem;
}

.favorite__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5625rem;
}

.orange-oval {
  position: absolute;
  width: 568px;
  height: 354px;
  border-radius: 50%;
  background: #FF6428;
}

.favorite__block {
  width: 50%;
}

.first {
  left: 7.5%;
  top: -35%;
}

.second {
  right: 10%;
  bottom: -45%;
}

@media (max-width: 1315px) {
  .favorite__container {
    padding: 4rem 0;
  }
  .orange-oval {
    width: 468px;
    height: 254px;
  }
  .block-position img {
    width: 173px;
    height: 421px;
  }
}
@media (max-width: 1200px) {
  .favorite__wrap {
    gap: 1rem;
  }
}
@media (max-width: 1000px) {
  .favorite__wrap {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0rem;
    margin-bottom: 0rem;
  }
  .orange-oval {
    display: none;
  }
  .block-position {
    display: none;
  }
  .favorite__title {
    text-align: center;
    margin-bottom: 3rem;
  }
  .favorite__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5625rem;
  }
}
@media (max-width: 500px) {
  .favorite__links {
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .favorite__link {
    display: block;
  }
}