* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---------------------------------------------- */
body {
  font-size: 1rem;
  font-family: "Poppins";
  color: #121212;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  width: min(100% - 7.5rem, 97.1875rem);
  margin-inline: auto;
  padding: 3.75rem 0;
}

@media (max-width: 1151.98px) {
  [class*=__container] {
    width: calc(100% - 5rem);
    padding: 2rem 0;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    width: calc(100% - 3.5rem);
    padding: 1.25rem 0;
  }
}
.title {
  font-family: "Open Sans";
  font-size: 2.75rem;
  font-weight: 600;
  line-height: normal;
}
.title span {
  color: #FF6428;
}

.header__container {
  padding: 3.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 59px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.6875rem;
  width: 60%;
}

.header__block {
  width: 40%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
}

.header__logo-title {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.5rem;
}

.header__link {
  padding: 0 1.75rem;
  color: rgba(18, 18, 18, 0.4);
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}