.store {
}
.store__title {
	text-align: center;
	margin-bottom: 5.75rem;
}
.store__block {
	margin-bottom: 6.375rem;
}
.store__block-sub-title {
	color: $black;
	font-family: $ff-Poppins;
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: 1.6px;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.store__viev {
	color: $gray86;
	font-family: $ff-Poppins;
	font-size: 1.25rem;
	font-weight: 500;
}
.store__block-cards {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 3.375rem;
}
.store__block-card {
	cursor: pointer;
	width: 100%;
}
.store__card-image {
	margin-bottom: 2.5rem;
	height: 14.875rem;
	position: relative;
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
		position: absolute;
		inset: 0;
	}
}
.padding{
	padding: 3rem 0;
}
.store__guitar-name {
	color: $black;
	font-family: $ff-Poppins;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.4375rem;
}
.store__guitar-price {
	color: #666;
	font-family: $ff-Poppins;
	font-size: 0.875rem;
	font-weight: 400;
}

@media (max-width: 1300px) {
	.store__block-cards {
		gap: 2rem;
	}
}
@media (max-width: 1000px) {
	.store__block-sub-title {
		font-size: 1rem;
	}
	.store__viev {
		font-size: 1rem;
	}
	.store__guitar-name {
		font-size: 0.9rem;
	}
	.store__guitar-price {
		font-size: 0.775rem;
	}
	.store__card-image {
		margin-bottom: 1.3rem;
		height: 11rem;
	}
	.store__block {
		margin-bottom: 3rem;
	}
	.store__title {
		margin-bottom: 3rem;
	}
}
@media (max-width: 500px) {
	.store__viev {
		font-size: 0.9rem;
	}
	.store__guitar-name {
		font-size: 0.8rem;
	}
	.store__guitar-price {
		font-size: 0.675rem;
	}
	.store__card-image {
		margin-bottom: 0rem;
	}
	.store__block-cards {
		grid-template-columns: repeat(1,1fr);
	}
	.store__block {
		margin-bottom: 1rem;
	}
}